[project]
	description = ISM Connect
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aikansh (aikansh)
[access "refs/for/refs/*"]
	read = group user/Aikansh (aikansh)
	push = group user/Aikansh (aikansh)
	label-Code-Review = -2..+2 group user/Aikansh (aikansh)
	label-Verified = -1..+1 group user/Aikansh (aikansh)
	rebase = group user/Aikansh (aikansh)
	removeReviewer = group user/Aikansh (aikansh)
	submit = group user/Aikansh (aikansh)
[access "refs/heads/*"]
	read = group user/Aikansh (aikansh)
	create = group user/Aikansh (aikansh)
	push = +force group user/Aikansh (aikansh)
	pushMerge = group user/Aikansh (aikansh)
[access "refs/tags/*"]
	push = +force group user/Aikansh (aikansh)
	pushTag = group user/Aikansh (aikansh)
	pushSignedTag = group user/Aikansh (aikansh)
